/* css for all   */
p {
	font-size: 23px;
	font-family: Garamond, serif;
	text-align: center;
	text-decoration: none;
}
body {
	width: auto;
	height: auto;
	background-color:#008080;
}

main {
	height: auto;
	width: auto;
	background-color:#ffa54f;
	border: 5px solid black;
	border-radius: 8px;
	text-align: center;
	padding: 20px;
}

header {
	width: auto;
	height: auto;
	margin-bottom: 20px;
}


/* css for titleScreen   */
div1 {
	height: 100px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	margin: auto;
	background-color:#cc0000;
	border-color: #cc0000;
	border-radius: 15px;
}
titlepicture {
    height: 200px;
    width: 350px;
    border: 0px solid #000000;
    margin: auto;
}
logo {
	  height: 100px;
	  width: 100px;
	  margin: auto;
}

/* css for Anmeldung_01   */
#anmeldeformular {
	margin: auto;
	background-color: #f8f8ff;
	height: 600px;
	width: 400px;
	border: 2px solid black;
	border-radius: 5px;
	display: block;
}

#creditpoints {
	height: 120px;
	width: 160px;
	background-color:#cdc9c9;
	border: 5px solid black;
   	border-radius: 37px;
	margin: auto;
	text-align: center;
}

#points {
	margin: -20px 0px 0px 0px;
	padding: 10px;
}

#nameinput 
{
	width: 30px;
}

/* css for Math  	  */

/* css for Vorkurs_02  	  */

/* css for NWI_03 		  */
#weiter_button {
	height: 120px;
	width: 160px;
	background-color:#cdc9c9;
	border: 5px solid black;
   	border-radius: 37px;
	margin: auto;
	text-align: center;
}

#mathe1_buttons {
	width: 6em;
	background-color:#cdc9c9;
	border: 5px solid black;
   	border-radius: 37px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#Logikaufgabe{
	margin-left: auto;
	display: inline-block;
}

#aufgabelösen_button {
	height: 120px;
	width: 160px;
	background-color:#cdc9c9;
	border: 5px solid black;
   	border-radius: 37px;
	margin: auto;
	text-align: center;
}

#Kabelsalat {
	height: 300px;
	width: 300px;
	border-radius: 37px;
	margin: auto;
	text-align: center;
}

#playerkarte {
	width: 100px;
	height: 200px;
	background-color: white;
	border: 5px solid black;
   	border-radius: 37px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#weißkarte{
	
}

#matheplayer{
	width: 6em;
	background-color:#cdc9c9;
	border: 5px solid black;
   	border-radius: 37px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#weiß{
	width: 6em;
	background-color:#cdc9c9;
	border: 5px solid black;
   	border-radius: 37px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}



